/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #36485C;
}

main {
    flex: 1;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav-logo {
    height: 20px;
    width: 20px;
}

.navbar .nav-link-wrapper {
    display: none;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #36485C;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    color: #36485C;
}

.icon-menu {
    height: 28px;
    width: auto;
    padding: 4px 2px;
}

/* Desktop navbar links */
@media (min-width: 768px) {
    .navbar .nav-link-wrapper {
        display: flex;
        gap: 16px;
    }

    .navbar .menu-icon {
        display: none;
    }
}

.nav-link-wrapper {
    margin-left: 38px;
}

.nav-link {
    color: #36485C;
    text-decoration: none;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 767.99px) {
    .navbar-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

/* Mobile Menu Overlay */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.mobile-menu-overlay.show {
    display: flex;
}

.mobile-menu-background {
    background: #fff;
    width: 300px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.mobile-menu-title-wrapper {
    display: flex;
    justify-content: center;
    margin: 8px 0;    
}

.mobile-menu-title {
    width: 90%;
    border-bottom: 1px solid #344149;
    text-align: center;
    font-size: 24px;
    color: #344149;
}

.mobile-menu-close {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 6px 6px 0 0;
    padding: 4px;
    cursor: pointer;
}

.mobile-menu-close-image {
    height: 18px;
    width: auto;
    border: 1px solid #36485C;
    border-radius: 100%;
    padding: 3px;
}

.mobile-menu-link-wrapper {
    list-style: none;
    text-align: center;
    gap: 16px;
}

.mobile-menu-link-wrapper li a {
    color: #344149;
    font-size: 18px;
    text-decoration: none;
    padding: 12px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mobile-menu-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 8px;
}

.mobile-menu-arrow {
    font-size: 22px;
    font-weight: 900;
    color: #CCC;
}

/* Home */

.hero-image {
    background-image: url('./images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1.78;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    position: relative;
    height: 70vh;
}

@media (min-width: 1024px){
    .hero-image {
        aspect-ratio: 2.5;
        height: auto;
    }
}

.hero-logo {
    height: 90px;
    width: auto;
}

.hero-title-wrapper {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 6px;
}

.hero-title {
    text-align: center;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

@media (max-width: 767.99px) {
    .hero-title {
        font-size: 40px;
    }
}

@media (max-width: 479px) {
    .hero-image {
        height: 50vh;
    }
    
    .hero-logo {
        height: 78px;
    }

    .hero-title-wrapper {
        padding: 2px 2px 0 2px;
    }

    .hero-title {
        font-size: calc(6vw + 6px);
    }
}

.section-title {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 767.99px) {
    .section-title {
        font-size: 2em;
        margin: .6em 0;
    }
}

/* Benefits */

#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-card-wrapper {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: calc(5px + 5vw);
    grid-row-gap: calc(5px + 2vw);
}

.benefits-card {
    background: radial-gradient(circle, rgba(110,110,110,1) 0%, rgba(52,65,73,1) 75%, rgba(52,65,73,1) 100%);
    color: #fff;
    border-radius: 16px;
    max-width: 400px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 
    0px 12px 24px rgba(0, 0, 0, 0.15), 
    0px 20px 40px rgba(0, 0, 0, 0.1);
}

.benefits-card ul {
    padding-left: 0;
    padding-inline-start: 20px;
    margin: 0;
    padding-bottom: 16px;
}

.benefits-card-title-wrapper {
    display: flex;
    justify-content: center;
}

.benefits-card-title {
    text-align: center;
    margin: 6px 6px 18px;
    font-size: 24px;
    width: 80%;
}

.benefits-card ul li {
    margin: 0 12px 8px;
    font-size: 16px;
}

.benefits-card ul li:last-child {
    margin-bottom: 0;
}

@media (max-width: 767.99px) {
    .benefits-card-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically adjusts the number of columns based on screen size */
        gap: 20px;
        padding: 20px; 
    }

}

/* About */

.about-div {
    display: flex;
    justify-content: center;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 20px;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.about-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 100%;
    width: 380px;
}

.about-paragraph {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    text-indent: 0;
}

.about-self-wrapper {
    display: flex;
    justify-content: center;
}

.self {
    max-height: 100%;
    width: auto;
    max-width: 340px;
    height: auto;
    object-fit: contain;
}

.badge-wrapper {
    display: flex;
    justify-content: center;
}

.badge-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: radial-gradient(circle, rgba(110,110,110,1) 0%, rgba(52,65,73,1) 75%, rgba(52,65,73,1) 100%);
    width: 80%;
    border-radius: 16px;
    margin: 38px 0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 
                0px 12px 24px rgba(0, 0, 0, 0.15), 
                0px 20px 40px rgba(0, 0, 0, 0.1);
}

.badge {
    height: 124px;
    width: auto;
    margin: 4px 18px;
}

@media (max-width: 767.99px) {
    .about-wrapper {
        grid-template-columns: 1fr; /* Switch to one column */
        grid-template-rows: auto auto; /* Set rows for each item */
        grid-template-areas:
            "about-self-wrapper"
            "about-column"; /* Reverse the order */
    }
    
    .about-column {
        grid-area: about-column;
        width: auto;
    }

    .about-self-wrapper {
        grid-area: about-self-wrapper;
        position: relative;
        width: 320px;
        height: 264px;
        overflow: hidden;
    }

    .self {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
    }

    .about-paragraph {
        font-size: 1.2em;
    }

    .badge-banner {
        box-shadow: none;
        background: transparent;
        margin: 12px 0;
    }

    .badge {
        height: calc(10vw + 60px);
        margin: calc(2px + 0.5vw) calc(5px + 1.5vw);
    }
}

/* Service */

#services {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically adjusts the number of columns based on screen size */
    gap: 20px;
    padding: 20px; 
}

.services-card {
    background: #fff;
    border: 2px solid #36485C;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* Enhanced box shadow for paper effect */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}


.services-card ul li {
    margin: 0 12px 8px;
    font-size: 16px;
}

.services-card ul li:last-child {
    margin-bottom: 0;
}

.services-card-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-bottom: 10px;
}

.services-card-subtitle {
    font-size: 1.2em;
    text-align: center;
}

.services-list {
    margin: 12px 0;
}

.services-card-price {
    margin-top: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
}

.services-disclaimer {
    text-align: center;
    font-size: 16px;
    padding: 0 20px;
}

.services-calendar-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0;
}

.services-calendar-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background: darkorange;
    max-width: 540px;
    color: #fff;
    border-radius: 64px;
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 
    0px 12px 24px rgba(0, 0, 0, 0.15), 
    0px 20px 40px rgba(0, 0, 0, 0.1);
}

.services-calendar-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    padding: 6px 0 6px 14px;
    text-align: center;
}

.services-calendar-text:first-of-type {
    font-size: 24px;
    font-weight: bold;
}

.services-calendar-text:last-of-type {
    font-size: 16px;
    font-weight: bold;
}

.services-calendar-chevron {
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 767.99px) {
    .services-calendar-link {
        width: auto;
        padding: calc(2px + .2vw) calc(2px + 1vw);
        border-radius: calc(32px + 2vw);
        max-width: 90%;
    }

    .services-calendar-text-wrapper {
        padding: 2px;
    }

    .services-calendar-text:first-of-type {
        font-size: calc(14px + 1vw);
    }

    .services-calendar-text:last-of-type {
        font-size: calc(10px + 1vw);
    }

    .services-calendar-chevron {
        font-size: calc(24px + 1vw);
    }
}

/* Contact */

#contact {
    padding: 24px 20px;
    margin-bottom: 24px;
}

.contact-form-wrapper {
    display: flex;
    justify-content: center;
}

.contact-form {
    background: radial-gradient(circle, rgba(110,110,110,1) 0%, rgba(52,65,73,1) 75%, rgba(52,65,73,1) 100%);
    padding: 24px 20px;
    border-radius: 16px;
    max-width: 800px;
    width: 80%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 
    0px 12px 24px rgba(0, 0, 0, 0.15), 
    0px 20px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 479px) {
    .contact-form {
        width: 100%;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.label {
    color: #fff;
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: 6px;
}

.contact-input {
    padding: 8px 6px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #344149;
}

.contact-textarea {
    resize: none;
    padding: 8px 6px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #344149;
    height: 120px;
}

.contact-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-button {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: #FFC857;
    color: #36485C;
    border: 1px solid #FFC857;
    border-radius: 100px;
    cursor: pointer;
}

.thank-you-text {
    font-size: 16px;
}

/* Privacy Policy and Terms of Use */
.privacy-policy {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.privacy-policy__title {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin: 24px 0;
}

.privacy-policy__intro {
    color: #555;
    margin-bottom: 20px;
}

.privacy-policy__section {
    margin-bottom: 30px;
}

.privacy-policy__section-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.privacy-policy__subheading {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 8px;
}

.privacy-policy__list {
    list-style-type: disc;
    margin-left: 20px;
    color: #444;
}

.privacy-policy__list-item {
    margin-bottom: 5px
}

.privacy-policy__section-text {
    color: #555;
    margin-bottom: 10px;
}

/* Footer styles */
.footer {
    padding: 32px;
    text-align: center;
    background-color: #f1f1f1;
}

.footer-logo-link {
    height: 48px;
    width: auto;
    cursor: pointer;
}

.footer-logo-icon {
    height: inherit;
    width: auto;
}

.footer .footer-link-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 24px;
}

.footer-link {
    color: #36485C;
    text-decoration: none;
}

.footer .footer-bottom {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.footer .social-icons a {
    margin: 0 12px;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.social-icon-logo {
    height: 16px;
    width: 16px;
}

/* Calendar */

.calendar-logo-wrapper {
    margin: 42px 0;
    display: flex;
    justify-content: center;
}

.calendar-subtitle {
    font-size: 24px;
    text-align: center;
}

.calendar-embed {
    padding: 0 24px;
    border-radius: 16px;
}

@media (max-width: 773.99px) {
    .calendar-subtitle {
        margin-bottom: 12px;
        font-size: 1.4em;
        padding: 0 20px;
    }
}